/*BODY*/

html{
  scroll-behavior: smooth;
}

*{
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
}

.up-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #6F732F;
  color: #ffffff;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 50%;
  transition: all 0.5s;
}

.up-btn:hover{
  position: fixed;
  width: 60px;
  height: 60px;
  background: #6e732fce;
  color: #ffffff;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 50%;
  transition: all 0.5s;
}

/*NAVBAR*/

nav{
    color: #6F732F;
    font-weight: 900;
    list-style: none;
    align-items: center;
    border-bottom: 1px solid #6F732F;
    
}

a{
  text-decoration: none;
}

.logo{
    width: 100px;
}

.itens{
    display: flex;
    justify-content: space-around;
    align-items: stretch;    
}

.nav-item{
    border: none;
    color: #6F732F;
    background: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    font-weight: 900;
}

.btn{
    border: none;
    color: white;
    background: #B38A58;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
}

.btn:hover{
    border: none;
    color: white;
    background: #b38a58a2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
}

.nav-item:hover{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-weight: 900;
    background: #6e732f52;
    cursor: pointer;
}


/*HEADER*/

header {
    display: flex;
}

.energia{
    width: 80%;
}



/*SELECT*/

h2 {
    margin: 16px;
  }
  
  .container {
    margin-top: 100px;
    padding: 32px;
  }
  
  .select-box {
    position: relative;
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #6e732f52;
    color: #000000;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #6e732f52;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #000000;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #b38a58a2;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #b38a58a2;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .opt {
    display: none;
  }


  /* Searchbox */
  
  .search-box input {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #6e732f52;
  
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .search-box input:focus {
    outline: none;
  }
  
  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }


.description1{
    background: #6F732F;
    border-radius: 5px;
    margin-right: 70%;
}
.planta1{
    width: 20%;
}

/*MAIN*/

/*CARDS*/

h1{
    text-align: center;
}

main{
    align-items: center;
    margin-top: 150px;
    
}

.card-section1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.card1{
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 200px 200px 20px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
}

.card-image {
    grid-area: image;
  }
.card-text {
    grid-area: text;
}
.card-image {
    grid-area: image;
    background: url("/img/maximum-yield-hot-weather-summer-watering-plants-irrigation.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}



/*LIST*/

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


h1{
  color: rgb(49, 49, 49);
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
}

.input-group{
  
  margin: 50px 0px;
}

.input-group input{
  height: 45px;
  width: 33.7%;
}

.btn-add{

  background-color: rgba(12, 187, 50, 0.699);
  color: white;
  padding: 0px 63px;
}

.btn-remove{

  background-color: rgba(187, 12, 12, 0.671);
  color: white;
  padding: 0px 50px;
}

.btn-add:hover{

  background-color: rgb(12, 187, 50);
  color: white;
  padding: 0px 63px;
}

.btn-remove:hover{

  background-color: rgb(187, 12, 12);
  color: white;
  padding: 0px 50px;
}

ul{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;

  
}
li{
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color:
  #fff;
  border: 1px solid
  rgb(0, 0, 0);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  width: 30.5%;
  
}

/*ABOUT*/
.about{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-around;
}

 h6{
     text-align: center;
     font-size: 50px;
 }

.eco-img{
  width: 30%;
}



/*TEAM*/

.profile{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.team{
  margin-top: 15%;
}

.pessoas{
  margin-left: 10%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.team-text{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.world{
  margin-top: 3%;
  width: 30%;
  margin-bottom: 10px;
}


/*CONTACT*/
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 90%;
  height: 1px;
  background: #6F732F;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #b38a58a2;
  padding: 20px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #6F732F;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #6F732F;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #6e732fab;
}

.tree{
  width: 30%;
  margin-left: 35%;
}

/*FOOTER*/

footer{
    margin-top: 50px;
    border-top: 1px solid #6F732F;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.container-footer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 0%;
}

.image-footer{
    width: 40%;
    margin-left: 3%;
}

.social-image{
    width: 2%;
}

.text-footer-1{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
}